.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-dropdown-header{
  background: transparent !important;
  font-size: 20px !important;
  border: none !important;
  border-radius: 50% !important;
  margin-right: 5px;
   -webkit-transition-duration: 0.4s !important; /* Safari */
    transition-duration: 0.4s !important;
}

.btn-dropdown-header:hover{
  background: #4f89c4 !important;
  border-color: #1976d2 !important;
}

.btn-dropdown-header:focus{
  background: #4f89c4 !important;
  border: none !important;
  box-shadow: none !important;
}

.accordion-name{
  display: "none";
}

*::-webkit-scrollbar {
  width: 0.4em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: transparent;
}

/* css for login */
.font {
  background: #e9ecef;
  background-image: url("https://i.gyazo.com/67a3171442fb6ac7668b421109b149cd.png");
  background-position: center;
}

.btn-serch {
  top: 7px;
  right: 5px;
}

.bg {
  background: #e9ecef !important;
  min-height: 100vh;
}

.box-shadow {
  box-shadow: 0px 0px 5px 3px rgb(173, 172, 172);
}

a{
  color: rgb(59, 59, 255);
  font: 100;
}

/* css for forgot-password */
.btn-serch {
  top: 7px;
  right: 5px;
}

.bg {
  background: #e9ecef;
  min-height: 100vh;
}

.cg {
  background: white;
}

/**Data-tooltip */
[data-tooltip]{ 
  position:relative; 
  cursor:pointer;
  }
  [data-tooltip]::before {
  content : attr(data-tooltip);
  background-color:#6d6d6d;
  color:#f5f5f5;
  width:80px;
  height:auto;
  border-radius:5px;
  display:none;
  position:absolute;
  bottom:-20px;
  pointer-events: none;
  z-index:99;
   }
  [data-tooltip]::after{
  content:"";
  position:relative;
  bottom:4px;
  display: none;
  }
  [data-tooltip]:hover::before,
  [data-tooltip]:hover::after
  { display:block;} 

  .description{
    font-size: small;
  }
